.navbar, footer, tr:nth-child(odd) {
    background-color: #C3D6EA;
}

table, th, td {
    border: 1px solid;
    padding: 8px;
    width: 50%;
    padding-right: 50px;
}

h1, .letter {
    font-size: 40px;
    font-family: apple-chancery;
    font-weight: bold;
}

table {
    box-shadow: 2px 2px 2px #999;
}

table:hover {
    transform: scale(1.01);
}

th {
    color: white;
    background-color: #004E98;
}

ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    font-family: cursive;
}

.take, .print {
    background-color: #e7e7e7;
    border-radius: 12px;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
    display: inline-block;
    font-size: 14px;
}

@media print {
    .example-print {
       display: block;
    }
    .no-print {
        display: none;
    }
}

.welcome {
    font-family: verdana;
    border: 2px solid #641d1b;
    border-radius: 8px;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1;
    background-color: #FF784F;
}

.medication-information {
    float: left;
    margin-left: 130px;
}

.ai-information {
    float: right;
    margin-right: 130px;
}

.medication-information, .ai-information {
    height: 420px;
    width: 420px;
    background-color: #FFE19C;
    border: 2px solid #641d1b;
    border-radius: 8px;
    padding: 45px;
    font-size: 18px;
}

.information {
    padding-bottom: 420px;
}

footer {
    text-align: center;
    padding: 10px;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}
