table, th, td {
  border: 1px solid;
  padding: 8px;
  width: 50%;
  padding-right: 50px;
}

h1 {
  font-size: 40px;
  font-family: apple-chancery;
  font-weight: bold;
}

table {
  box-shadow: 2px 2px 2px #999;
}

table:hover {
  transform: scale(1.03);
}

th {
  color: #1C1D21;
  background-color: #004E98;
}

tr:nth-child(odd){
  background-color: #C3D6EA;
}

ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
  font-family: cursive;
}

.take {
  background-color: #e7e7e7; /* Green */
  border-radius: 12px;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  display: inline-block;
  font-size: 14px;  
}