{% extends "base.html" %}

{% block app_content %}
    <h1>{% block title %}{{title }}{% endblock %}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dose.label }}<br>
            {{ form.dose(size=64) }}<br>
            {% for error in form.dose.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>
            {{ form.cycles.label }}<br>
            {{ form.cycles(multiple=True) }}<br>
            {% for error in form.cycles.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <p>
            {{ form.pills.label }}<br>
            {{ form.pills(size=64) }}<br>
            {% for error in form.pills.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.period.label }}<br>
            {{ form.period(size=32) }}<br>
            {% for error in form.period.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
