{% extends "base.html" %}

{% block app_content %}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>

<h3>Contact us!</h3>
<p>
  Have any questions? Please feel free to contact us at <a href="mailto:vale@gmail.com">vale@gmail.com</a>
<br> <br>
You can also reach us individually through these email addresses:
<br> <br>

 Vernon: <a href="mailto:vale@gmail.com">vhughes30@gmail.com</a>
  <br>
  Andrey: <a href="asokolov30@stuy.edu">asokolov30@stuy.edu</a>
  <br>
Lucas: <a href="llee20@stuy.edu">llee20@stuy.edu</a>
<br>
Eugene: <a href="eyoo30@stuy.edu">eyoo30@stuy.edu</a>

</p>

</body>
</html>
{% endblock %}
