{% extends "base.html" %}

{% block app_content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="welcome">
            <h2>Welcome to the VALE Website!</h2>
            <h3>Today is {{ date }}</h3>
        </div>
        <br>
        <div class ="information">
            <div class="medication-information">
                The medication aspect of the website is the core of the project. We have two primary users: elderly and caretakers. The user can input information about current medications that they take, including information about dosage, times of the day to take a specified medication, and how many pills are in each prescription before a new medication needs to be issued. To begin interacting with this information, click on the "Medication" page on the navigation bar.
            </div>
            <div class="ai-information">
                The AI component of the project aims to increase the ease of user interaction with the website. Implemented for Alexa, Google Home, and other virtual assistants using flask-ask, it uses the back-end of our website's framework to allow for users to access all the necessary information about their medication. It is not available through the website yet, but will be available to users with virtual assistants.
            </div>
        </div>
        <br></br>
    </body>
</html>
{% endblock %}
