{% extends "base.html" %}

{% block app_content %}
    <h1>{% block title %}{{title }}{% endblock %}</h1>
    <br></br>
    <table>
        <tr>
            <th>Name</th>
            <th>Dose</th>
            <th>Pills</th>
            <th>Cycle</th>
            <th>Period</th>
            <th>Taken</th>
            <th>Update Changes</th>
        </tr>
    {% for medication in medications %}
        <tr>
            <td>{{ medication.name }}</td>
            <td>{{ medication.dose }}</td>
            <td>{{ medication.pills }}</td>
            <td>{{ medication.cycle.cycle }}</td>
            <td>{{ medication.period }}</td>
            <td><input type="checkbox" class="taken" id="taken" name="taken"></td>
            <td><a href="{{ url_for('taken', med_id = medication.id, taken = (request.form[taken]!=none))}}">Save Changes</a></td>
        </tr>
    {% endfor %}
    </table>
    <br></br>
    <p><a href="{{ url_for('add_medication') }}">Add Medication</a></p>
    <p><a href="{{ url_for('choose_medication')}}">Edit Medication</a></p>
    <p><a href="{{ url_for('delete_medication') }}">Delete Medication</a></p>
{% endblock %}
