{% extends "base.html" %}

{% block app_content %}
    <h1>{% block title %}{{title }}{% endblock %}</h1>
    <br></br>
    <table>
        <tr>
            <th>Name</th>
            <th>Dose</th>
            <th>Pills</th>
            <th>Cycle</th>
            <th>Period</th>
            <th>Taken</th>
            <th>Update Changes</th>
            {% if not current_user.is_patient() %}
            <th>User</th>
            {% endif %}
        </tr>
    {% for medication in medications %}
        <tr>
            <td>{{ medication.name }}</td>
            <td>{{ medication.dose }}</td>
            <td>{{ medication.pills }}</td>
            <td>{{ medication.cycle.cycle }}</td>
            <td>{{ medication.period }}</td>
            <td>{{ medication.taken }}</td>
            {% if medication.taken %}
            <td><a href="{{ url_for('taken_med', med_id = medication.id, done = 'no')}}" class="take">Untake</a></td>
            {% else %}
            <td><a href="{{ url_for('taken_med', med_id = medication.id, done = 'yes')}}" class="take">Take</a></td>
            {% endif %}
            {% if not current_user.is_patient() %}
            <td>{{ medication.user.fname }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br>
    <table>
        <tr>
            <th>Cycle</th>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    {% for cycle in cycles %}
        <tr>
            <td>{{ cycle.cycle }}</td>
            <td>{{ cycle.time }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
            <td>{{ cycle.get_medications() }}</td>
        </tr>
    {% endfor %}
    </table>
    <br></br>
    <p><a href="{{ url_for('add_medication') }}">Add Medication</a></p>
    <p><a href="{{ url_for('choose_medication')}}">Edit Medication</a></p>
    <p><a href="{{ url_for('delete_medication') }}">Delete Medication</a></p>
{% endblock %}
