{% extends "base.html" %}

{% block app_content %}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>

<h3>Our Story</h3>
<p>
<br>
  The COVID-19 Pandemic has isolated many individuals and limited their access to technology and other necessary resources. This is particularly the case for elderly citizens, who according to the National Library of Medicine have struggled with ageism and rapid physical deterioration. The pandemic further led to a significant reduction in the quality of life of senior citizens, increased depression, and additional problems with resource accessibility, sleeping peacefully, and exercising.
<br> <br>
Even today, when we seem to be on the tailend of COVID, social interaction and resource access has still been significantly hindered. It is this very issue that we came together to form VALE, especially when considering that there are over 703 million senior citizens in the world who account for over 9% of the global population   (<a href="https://docs.google.com/document/d/https://www.un.org/en/development/desa/population/publications/pdf/ageing/WorldPopulationAgeing2019-Highlights.pdf">United Nations</a>).
<br> <br>
Given our own personal experiences with senior citizens, we were all motivated to do something to help the senior citizens, especially during such a difficult time, by creating a medication website with an artificial intelligence system that users could interact with.
<br> <br>
The medication idea was inspired by our Google mentor, who described how medication usage was actually a significant problem to many senior citizens, because of the challenges of keeping up to date with dosage as well as refilling prescriptions, among other difficulties.
<br> <br>
We were also inspired by the idea of creating an AI that knows you better. Immediately, we were faced with many questions, such as would it be possible to create an intelligence system that learned more about who you are and adjusted their way of speaking towards you? Or could this be particularly beneficial for the elderly, who may not be as comfortable with technology? Obviously, there are certain things that users can inform the AI about prior to using it, but making a companion that can better fit one’s individual needs was something very intriguing. In other words, we wanted an AI that is more responsive to personal issues that is not necessarily a comfort bot, but rather a bot that takes into account your past experiences and any specific difficulties you have in order to maximize its effectiveness.
<br> <br>
Our project does make one important assumption – that future senior citizens will be more eager to use technology than current elderly. The new technologies of this age seem to be arriving at a rapid pace, so we hoped that a simple-to-use program adapted specifically for seniors would be feasible and useful.
<br> <br>
Our group name VALE (short for Vernon, Andrey, Lucas, Eugene) is representative of what we hoped to achieve when we first set out to work on this project. VALES, short for valleys, are a symbol of life, growth,  opportunity, and community, and these are the values that we strive to promote with our project.
</p>

</body>
</html>
{% endblock %}
